@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #000000;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="url"] {
  @apply border-2 border-gray-700;
}

textarea:focus,
input:focus,
select:focus {
  @apply outline outline-2 outline-blue-500;
}