.timeline-container {
  background: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(53, 53, 53);
}

.vertical-timeline-element-content {
  padding: 0;
  background-color: #000000;
}

.date {
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

#description {
  margin: 1.5em 0 2em 0;
  font-size: 1rem;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: #212529;
}

.workButton:hover {
  background-color: #3d4c5c;
}

.schoolButton {
  background-color: #3270a3;
}

.schoolButton:hover {
  background-color: #3d4c5c;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}